body {
    background-color: #404040;
    font-family: "Playpen Sans", sans-serif;
}

p, h1 {
    color: white;
}

header {
    width: 100%;
    height: auto;
    background-image: url(../source/images/header-back.webp);
    background-size: contain;
}

.links {
    display: flex;
    border-bottom: 3px solid black;
    justify-content: center;
}

.links a {
    text-decoration: none;
    font-size: 2rem;
    color: rgb(255, 255, 255);
    padding: 1rem;
    transition: transform 0.5s ease;
}

.links a:hover {
    color: #ff6b6b;
    transform: scale(1.1);
}

/* ------------------------------------------------------ */

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.left-side {
    grid-area: 1 / 1 / 6 / 6;
}

.rigth-side {
    grid-area: 1 / 6 / 6 / 6;
}

.left-side p {
    padding-left: 10px;
    font-size: 1.5rem;
}

/* ------------------------------------------------------ */

.poster {
    padding-right: 1rem;
    padding-top: 1rem;
}

.poster img {
    border-radius: 2rem;
}

.wrape {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 1rem;
}

.description {
    padding-top: 3rem;
}

iframe {
    border-radius: 3rem;
}

.description {
    padding-right: 10px;
}

/* ------------------------------------------------------ */

footer {
    display: flex;
    margin-top: 1rem;
    padding-left: 1rem;
    border-top: 3px solid black;
    justify-content: center;
    background-image: url(../source/images/header-back.webp);
    background-size: contain;
}

footer img {
    width: 60px;
    height: 60px;
}

/* Адаптив */

@media (max-width:450px) {
    .links a {
        font-size: 1.5rem;
    }
    
    .poster {
        display: flex;
        justify-content: center;
    } 

    .poster img {
        width: 100%;
        height: auto;
    }

    .description p {
        font-size: 1.3rem;
    }

    
}

@media (max-width:850px) {
    
    .parent {
        grid-template-columns: 1fr; /* одна колонка */
        grid-template-rows: auto auto; /* два ряда */
    }

    .left-side {
        grid-area: 2 / 1 / 3 / 2; /* description теперь внизу */
    }

    .rigth-side {
        grid-area: 1 / 1 / 2 / 2; /* poster теперь вверху */
    }

    .poster {
        display: flex;
        justify-content: center;
    }    
}